{% extends 'base.html' %}

{% block header %}{% endblock header %}

{% block content%}
<h1 align="center"><strong><a href="/" >Tranny models</a></strong></h1>

	<div class='row'>
		{% for obj in object_list %}
    	<div class='col-lg-1 col-md-3 col-sm-4 col-6 text-center'>
			<a href='{{ obj.direct_url }}' title="{{ obj.name }}" target="_blank"><img src='{{ obj.thumbnail200 }}' class='img-thumbnail'></a>
		</div>   
		{% endfor %}
	</div>

		
		
	
		<div class="pagination justify-content-center" style="margin:10px 0">
			
			{% if object_list.has_previous %}
    			<li><a href="?page={{ object_list.previous_page_number }}"><i class="nav-item" aria-hidden="true"></i></a></li>
			{% else %}
    			<li class="disabled"><span><i class="nav-item" aria-hidden="true"></i></span></li>
			{% endif %}

			{% if object_list.number|add:'-4' > 1 %}
    			<li><a href="?page={{ object_list.number|add:'-5' }}" class='page-link'>&laquo;</a></li>
			{% endif %}

			{% for i in object_list.paginator.page_range %}
    			{% if object_list.number == i %}
        			<li class='page-item.active'><a class ='page-link'>{{ i }} <span class="sr-only">(current)</span></a></li>
    			{% elif i > object_list.number|add:'-5' and i < object_list.number|add:'5' %}
        			<li class='page-item'><a href="?page={{ i }}" class='page-link'  >{{ i }}</a></li>
    			{% endif %}
			{% endfor %}

			{% if object_list.paginator.num_pages > object_list.number|add:'4' %}
    			<li><a href="?page={{ object_list.number|add:'5' }}" class='page-link'>&raquo;</a></li>
			{% endif %}

			{% if object_list.has_next %}
    			<li><a href="?page={{ object_list.next_page_number }}"><i class="nav-item" aria-hidden="true"></i></a></li>
			{% else %}
   				 <li class="disabled"><span><i class="nav-item" aria-hidden="true"></i></span></li>
			{% endif %}
		
		</div>

<h1 align="center"><strong><a href="{% url 'Modelgallery' %}" >Tranny video</a></strong></h1>

	<div class='row'>
	{% for obj in list %}
		<div class='col-lg-2 col-md-3 col-sm-4 col-4 text-center'>
	<a href='{{ obj.direct_url }}' title="{{ obj.name }}" target="_blank"><img src='{{ obj.thumb }}' class="img-thumbnail" ></a>
		</div>
	{% endfor %}
	</div>



{% endblock  %}